In [9]:
import pandas as pd

df = pd.read_csv('學生成績.csv')
df

   學號   姓名  國文  英文  數學  地理  歷史   總分    平均
0   1  盧文啟  85  77  63  51  88  364  72.8
1   2  郭舜昇  99  94  83  61  97  434  86.8
2   3  李淑芳  59  75  99  70  78  381  76.2
3   4  童建霖  98  94  88  63  78  421  84.2
4   5  陳姵彬  72  74  50  51  60  307  61.4
5   6  游倫城  86  69  57  78  66  356  71.2
6   7  馮芳如  72  51  54  94  79  350  70.0
7   8  陳冠霞  73  84  60  62  64  343  68.6
8   9  游治旺  57  87  71  86  94  395  79.0
9  10  黃佩芬  50  99  56  99  90  394  78.8

In [10]:
df.index = df['學號']
display(df)

df1 = df.drop(columns='學號')
df1

    學號   姓名  國文  英文  數學  地理  歷史   總分    平均
學號
1    1  盧文啟  85  77  63  51  88  364  72.8
2    2  郭舜昇  99  94  83  61  97  434  86.8
3    3  李淑芳  59  75  99  70  78  381  76.2
4    4  童建霖  98  94  88  63  78  421  84.2
5    5  陳姵彬  72  74  50  51  60  307  61.4
6    6  游倫城  86  69  57  78  66  356  71.2
7    7  馮芳如  72  51  54  94  79  350  70.0
8    8  陳冠霞  73  84  60  62  64  343  68.6
9    9  游治旺  57  87  71  86  94  395  79.0
10  10  黃佩芬  50  99  56  99  90  394  78.8

     姓名  國文  英文  數學  地理  歷史   總分    平均
學號
1   盧文啟  85  77  63  51  88  364  72.8
2   郭舜昇  99  94  83  61  97  434  86.8
3   李淑芳  59  75  99  70  78  381  76.2
4   童建霖  98  94  88  63  78  421  84.2
5   陳姵彬  72  74  50  51  60  307  61.4
6   游倫城  86  69  57  78  66  356  71.2
7   馮芳如  72  51  54  94  79  350  70.0
8   陳冠霞  73  84  60  62  64  343  68.6
9   游治旺  57  87  71  86  94  395  79.0
10  黃佩芬  50  99  56  99  90  394  78.8

In [24]:
# 由到到小 排序
s1 = df1['平均'].rank(method='min', ascending=False)
df1['排名'] = s1
display(df1)

df2 = df1.sort_values(by='平均', ascending=False)
display(df2)

# 取 前 5 名
display(df2.head(n=5))
# display(df2[:5])
# display(df2.query('排名<=5'))

# 取 後 5 名
display(df2.tail(n=5))
# display(df2[-5:])

     姓名  國文  英文  數學  地理  歷史   總分    平均    排名
學號
1   盧文啟  85  77  63  51  88  364  72.8   6.0
2   郭舜昇  99  94  83  61  97  434  86.8   1.0
3   李淑芳  59  75  99  70  78  381  76.2   5.0
4   童建霖  98  94  88  63  78  421  84.2   2.0
5   陳姵彬  72  74  50  51  60  307  61.4  10.0
6   游倫城  86  69  57  78  66  356  71.2   7.0
7   馮芳如  72  51  54  94  79  350  70.0   8.0
8   陳冠霞  73  84  60  62  64  343  68.6   9.0
9   游治旺  57  87  71  86  94  395  79.0   3.0
10  黃佩芬  50  99  56  99  90  394  78.8   4.0

     姓名  國文  英文  數學  地理  歷史   總分    平均    排名
學號
2   郭舜昇  99  94  83  61  97  434  86.8   1.0
4   童建霖  98  94  88  63  78  421  84.2   2.0
9   游治旺  57  87  71  86  94  395  79.0   3.0
10  黃佩芬  50  99  56  99  90  394  78.8   4.0
3   李淑芳  59  75  99  70  78  381  76.2   5.0
1   盧文啟  85  77  63  51  88  364  72.8   6.0
6   游倫城  86  69  57  78  66  356  71.2   7.0
7   馮芳如  72  51  54  94  79  350  70.0   8.0
8   陳冠霞  73  84  60  62  64  343  68.6   9.0
5   陳姵彬  72  74  50  51  60  307  61.4  10.0

     姓名  國文  英文  數學  地理  歷史   總分    平均   排名
學號
2   郭舜昇  99  94  83  61  97  434  86.8  1.0
4   童建霖  98  94  88  63  78  421  84.2  2.0
9   游治旺  57  87  71  86  94  395  79.0  3.0
10  黃佩芬  50  99  56  99  90  394  78.8  4.0
3   李淑芳  59  75  99  70  78  381  76.2  5.0

     姓名  國文  英文  數學  地理  歷史   總分    平均    排名
學號
1   盧文啟  85  77  63  51  88  364  72.8   6.0
6   游倫城  86  69  57  78  66  356  71.2   7.0
7   馮芳如  72  51  54  94  79  350  70.0   8.0
8   陳冠霞  73  84  60  62  64  343  68.6   9.0
5   陳姵彬  72  74  50  51  60  307  61.4  10.0

In [31]:
# 輸出到 excel, 會出現 No module named 'openpyxl' 錯誤訊息
# pip install openpyxl 

df2.to_excel(excel_writer='學生成績單.xlsx', sheet_name='3年5班成績單')