In [1]:
import pandas as pd

df = pd.read_csv('學生成績.csv')
df

   學號   姓名  國文  英文  數學  地理  歷史   總分    平均
0   1  盧文啟  85  77  63  51  88  364  72.8
1   2  郭舜昇  99  94  83  61  97  434  86.8
2   3  李淑芳  59  75  99  70  78  381  76.2
3   4  童建霖  98  94  88  63  78  421  84.2
4   5  陳姵彬  72  74  50  51  60  307  61.4
5   6  游倫城  86  69  57  78  66  356  71.2
6   7  馮芳如  72  51  54  94  79  350  70.0
7   8  陳冠霞  73  84  60  62  64  343  68.6
8   9  游治旺  57  87  71  86  94  395  79.0
9  10  黃佩芬  50  99  56  99  90  394  78.8

In [6]:
# 搜尋 Series value

chinese = df['國文']
print(chinese[chinese >= 80])

math = df['數學']
print(math[math < 60])

df[ df['數學'] < 60 ]['數學']

0    85
1    99
3    98
5    86
Name: 國文, dtype: int64
4    50
5    57
6    54
9    56
Name: 數學, dtype: int64

In [20]:
# 依據 dataframe 搜尋

print( df[ df['國文'] >= 80 ] )

print()

# 國文 和 數學 同時 不及格
print( df[ (df['國文'] < 60) & (df['數學'] < 60) ] )

   學號   姓名  國文  英文  數學  地理  歷史   總分    平均
0   1  盧文啟  85  77  63  51  88  364  72.8
1   2  郭舜昇  99  94  83  61  97  434  86.8
3   4  童建霖  98  94  88  63  78  421  84.2
5   6  游倫城  86  69  57  78  66  356  71.2

   學號   姓名  國文  英文  數學  地理  歷史   總分    平均
9  10  黃佩芬  50  99  56  99  90  394  78.8

In [21]:
# 國文 英文 數學 地理 歷史 全部及格
df[ (df['國文'] >= 60) &
    (df['英文'] >= 60) &
    (df['數學'] >= 60) &
    (df['地理'] >= 60) &
    (df['歷史'] >= 60) ]

   學號   姓名  國文  英文  數學  地理  歷史   總分    平均
1   2  郭舜昇  99  94  83  61  97  434  86.8
3   4  童建霖  98  94  88  63  78  421  84.2
7   8  陳冠霞  73  84  60  62  64  343  68.6

In [27]:
df[ df['平均'] >= 80 ]

   學號   姓名  國文  英文  數學  地理  歷史   總分    平均
1   2  郭舜昇  99  94  83  61  97  434  86.8
3   4  童建霖  98  94  88  63  78  421  84.2

In [34]:
# 國文 或 英文 不及格

d1 = df[ (df['國文'] < 60) | (df['英文'] < 60) ]
print(d1)

   學號   姓名  國文  英文  數學  地理  歷史   總分    平均
2   3  李淑芳  59  75  99  70  78  381  76.2
6   7  馮芳如  72  51  54  94  79  350  70.0
8   9  游治旺  57  87  71  86  94  395  79.0
9  10  黃佩芬  50  99  56  99  90  394  78.8